<h3>Contact successfully deleted! </h3>

<div>
  <%= link_to 'Add a new contact', '/contacts/new' %>
</div>

<% @contacts.each do |contact| %>
  <div class='row'>
    <div class='col-md-1'
      <h4><%= link_to contact.id, "/contacts/#{contact.id}" %> </h4>
    </div>
    <div class='col-md-4'
      <h4><%= contact.first_name %> <%= contact.last_name %></h4>
    </div>
    <div class='col-md-4'
      <h4><%= contact.email %></h4>
    </div>
    <div class='col-md-3'
      <h4><%= contact.phone_number %></h4>
    </div>
  </div>
<% end %>