<h2>Edit a Contact</h2>

<% if @contact.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@contact.errors.count, 'error') %> prohibited this contact from being saved:</h2>

    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
  <%= render 'form' %>
<% end %>

<div>
  <%= link_to 'Delete this contact', "/contacts/#{@contact.id}", method: :delete %>
</div>

<div>
  <%= link_to 'Add a new contact', '/contacts/new' %>
</div>

<div>
  <%= link_to 'Return to list of contacts', "/contacts" %>
</div>