<div class='each-contact'>
  <div class='full-name'><%= @contact.full_name %></div>
  <div class='contact-info'>Email: <%= @contact.email %></div>
  <div class='contact-info'>Phone Number: <%= @contact.japanese_phone_number %></div>
  <div class='date-field'>Updated on: <%= Contact.friendly_strftime(@contact.updated_at) %></div>
</div>

<div>
  <%= link_to 'Edit this contact', "/contacts/#{@contact.id}/edit" %>
</div>

<div>
  <%= link_to 'Delete this contact', "/contacts/#{@contact.id}", method: :delete %>
</div>

<div>
  <%= link_to 'Add a new contact', '/contacts/new' %>
</div>

<div>
  <%= link_to 'Return to list of contacts', "/contacts" %>
</div>
